@charset "utf-8";
#title1 {
	/* ID title1 套用 */
	font-family: "微軟正黑體", "新細明體";
	font-size: 24px;
	font-style: italic;
	color: #0066FF;
	text-decoration: underline overline line-through;
}
.title2 {
	font-family: "微軟正黑體", "新細明體";
	font-size: 32px;
	color: #006600;
	text-decoration: underline;
}
.word1 {
	font-family:"微軟正黑體", "新細明體";
	font-size: 20px;
	color: #0066CC;
	letter-spacing: 3px;
	line-height: 24px;
	text-indent: 46px;
	padding-right: 60px;
	padding-left: 60px;
}
.wordmark1 {
	background-color:#FFFF88;
}
.wordmark2 {
	text-decoration: line-through;
}
.wordmark3 {
	text-decoration: underline;
}
.div1 {
	margin: 20px;
	border: 2px solid #999999;
	background-color: #CCFFFF;
	cursor: crosshair;
	/*background-image: url(tile1.jpg);
	background-repeat: repeat;*/
}
.ulone {
	font-family:"微軟正黑體", "新細明體";
	font-size: 22px;
	color: #336666;
	padding-left: 60px;
	padding-right: 60px;
	list-style-type: square;
}
.ultwo {
	color: #6666FF;
	list-style-type: disc;
}
















